<div class="header">
    <h2>Add a new call</h2>
    <button>x</button>
</div>

<hr>

<form>
    <div class="section">
        <label for="">Call Title:</label>
        <input type="text">
    </div>
    
    <h3>HCP Details</h3>
    
    <div class="selects">
        <div class="section">
            <label for="">Call Title:</label>
            <select class="custom-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="section">
            <label for="">Call Title:</label>
            <select class="custom-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="section">
            <label for="">Call Title:</label>   
            <select class="custom-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="section">
            <label for="">Call Title:</label>
            <select class="custom-select">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="section textarea-section">
        <label for="">Call Title:</label>
        <textarea></textarea> 
    </div>
</form>

<hr>

<div class="footer">
    <button>Cancel</button>
    <button>Add</button>
</div>
